*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  /* both supported */
  --green: #0A4D3D;
  --green__dark: #073B2F;
  --green__highlight: #0A4D3D;
  --green__via_darkmode: #B5C9C4;
  --green__dark__via_darkmode: #86A79F;
  --gray: #EDF0F0;
  --gray__dark: #DBE0E1;
  --black: #161A1B;
  --black__dark: #0A0C0D;
  --white: #ffffff;
  --content_link__underline: var(--black);
  --content_link__underline__hover: var(--green);
  --background: var(--gray);
  --background__secondary: var(--gray__dark);
  --font_color: var(--black);
  --font_color__button: var(--gray);
  --roboto: 'Roboto Condensed', Arial, sans-serif;
  --raleway: 'Raleway', Arial, sans-serif;
}

.darkmode {
  --green: #B5C9C4;
  --green__dark: #86A79F;
  --green__highlight: #0A4D3D;
  --gray: #EDF0F0;
  --gray__dark: #DBE0E1;
  --black: #161A1B;
  --black__dark: #0A0C0D;
  --white: #ffffff;
  --content_link__underline: var(--gray);
  --content_link__underline__hover: var(--green);
  --background: var(--black);
  --background__secondary: var(--black__dark);
  --font_color: var(--gray);
  --font_color__button: var(--black);
}

html, body {
  display: block;
  overflow: auto;
}

body {
  background-color: var(--background);
  color: var(--font_color);
  font-family: var(--raleway);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0 auto;
  -webkit-transition: 0.5s background ease;
  transition: 0.5s background ease;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 2000px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  body header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body header nav .logo-themeToggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 1.5em;
  margin: 1.5em 0;
}

@media screen and (min-width: 768px) {
  body header nav .logo-themeToggle-container {
    margin-right: 3em;
  }
}

body header nav .logo-themeToggle-container .lightmode-logo {
  display: block;
}

body header nav .logo-themeToggle-container .darkmode-logo {
  display: none;
}

body header nav .logo-themeToggle-container .themeToggle {
  background-color: var(--black__dark);
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

body header nav .logo-themeToggle-container .themeToggle:focus {
  outline: 2px solid var(--green);
  outline-offset: 5px;
}

body header nav .logo-themeToggle-container .themeToggle .themeSwitch {
  background-color: var(--gray__dark);
  width: 18px;
  height: 17px;
  border-radius: 100%;
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

body header nav a {
  display: inherit;
}

body header nav a:focus {
  outline: 2px solid var(--green);
  outline-offset: 5px;
}

body header nav a img {
  display: block;
  width: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  z-index: 10;
}

body header nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  body header nav .nav {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body header nav .nav {
    margin-right: 1.5em;
  }
}

body header nav .nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

body header nav .nav li a {
  color: var(--font_color);
  font-family: var(--raleway);
  font-weight: 500;
  letter-spacing: .25px;
  text-decoration: none;
  padding: 1em;
  margin: 0 1.5em;
  -webkit-transition: .15s ease-in-out all;
  transition: .15s ease-in-out all;
}

@media screen and (min-width: 768px) {
  body header nav .nav li a {
    padding: .5em;
  }
}

@media screen and (min-width: 768px) {
  body header nav .nav li a:hover, body header nav .nav li a:active {
    background-color: var(--green);
    color: var(--font_color__button);
    border-radius: 4px;
    padding: .5em;
    -webkit-transform: scale(1.1) rotateZ(-6deg);
            transform: scale(1.1) rotateZ(-6deg);
  }
}

body header nav .nav li a:focus {
  outline: 2px solid var(--green);
  outline-offset: 5px;
}

body header nav .nav li a:focus, body header nav .nav li a:active {
  background-color: var(--green);
  color: var(--font_color__button);
  border-radius: 4px;
  padding: .5em;
}

body h3 {
  color: var(--font_color);
  font-family: var(--roboto);
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 992px) {
  body h3 {
    font-size: 2.75rem;
  }
}

body h4 {
  font-size: 1.125rem;
  margin-bottom: .5em;
}

@media screen and (min-width: 992px) {
  body h4 {
    font-size: 1.25rem;
  }
}

body .green-text {
  color: var(--green);
}

body p {
  color: var(--font_color);
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 1em;
}

body img {
  max-width: 100%;
}

body .section-spacing {
  padding: 1.75em 1.5em;
}

body footer {
  background-color: var(--black);
  padding: 3em 1.5em;
}

body footer h5 {
  color: var(--gray);
  font-size: 1.125rem;
  font-family: var(--roboto);
  margin-bottom: .75em;
}

body footer .footer-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}

body footer .footer-logo-container a {
  display: inherit;
  margin-right: 1em;
}

body footer .footer-logo-container a:focus {
  outline: 2px solid var(--gray);
  outline-offset: 5px;
}

body footer .footer-logo-container a img {
  display: block;
  width: 80px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  z-index: 10000;
}

body footer .footer-logo-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--gray);
}

body footer .footer-logo-container div span {
  font-size: .875rem;
}

body footer .footer-container {
  max-width: 900px;
  margin: 0 auto;
}

body footer .footer-container nav {
  margin-bottom: 4em;
}

@media screen and (min-width: 768px) {
  body footer .footer-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body footer .footer-container nav h5 {
  font-size: 1.25rem;
  margin-bottom: .5em;
}

@media screen and (min-width: 500px) {
  body footer .footer-container nav h5 {
    margin-right: 5em;
    margin: 0 4em 0 0;
  }
}

body footer .footer-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body footer .footer-container nav ul li {
  margin-right: 2.5em;
}

body footer .footer-container nav ul li a {
  font-size: .875rem;
  font-weight: 500;
  -webkit-transition: .15s ease all;
  transition: .15s ease all;
}

@media screen and (min-width: 768px) {
  body footer .footer-container nav ul li a {
    font-size: 1rem;
  }
}

body footer .footer-container nav ul li a:hover, body footer .footer-container nav ul li a:focus, body footer .footer-container nav ul li a:active {
  color: var(--green__via_darkmode);
}

body footer .footer-container nav ul li a:focus {
  outline: 2px solid var(--gray);
  outline-offset: 5px;
}

body footer .footer-container .social-links-container:before {
  display: block;
  background-color: var(--green__via_darkmode);
  width: 100%;
  height: 2px;
  content: '';
  margin: 4em 0;
}

body footer .footer-container .social-links-container .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  max-width: 250px;
}

body footer .footer-container .social-links-container .social-links img {
  width: 30px;
}

body footer .footer-container .mail-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

body footer .footer-container .mail-email :first-child {
  margin-right: 1em;
}

body footer .footer-container .mail-email a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 700px) {
  body footer .footer-container .mail-email a {
    margin-bottom: .75em;
  }
}

body footer .footer-container .mail-email .email-icon {
  width: 20px;
  margin-right: .5em;
}

body footer .footer-container .mail-email .location-icon {
  height: 20px;
  margin-right: .5em;
}

body footer .footer-container a {
  display: inline-block;
  color: var(--gray);
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

body footer .footer-container a:hover {
  color: var(--gray);
}

body footer .footer-container a:focus {
  outline: 2px solid var(--gray);
  outline-offset: 5px;
}

body footer .footer-container a span {
  font-family: var(--raleway);
  font-size: .875rem;
  font-weight: 700;
}

body footer .footer-container p {
  color: var(--gray);
  font-size: .875rem;
  margin-bottom: .25em;
}

body .content-link {
  display: inline-block;
  color: var(--green);
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--content_link__underline);
          text-decoration-color: var(--content_link__underline);
  text-decoration-thickness: 2px;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

body .content-link:hover {
  color: var(--font_color);
  -webkit-text-decoration-color: var(--content_link__underline__hover);
          text-decoration-color: var(--content_link__underline__hover);
}

body .content-link:active {
  color: var(--font_color);
  -webkit-text-decoration-color: var(--content_link__underline__hover);
          text-decoration-color: var(--content_link__underline__hover);
}

body .content-link:focus {
  color: var(--font_color);
  -webkit-text-decoration-color: var(--content_link__underline__hover);
          text-decoration-color: var(--content_link__underline__hover);
}

body .primary-link {
  display: inline-block;
  color: var(--green);
  font-family: var(--roboto);
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

body .primary-link:after {
  display: block;
  content: '';
  width: 100%;
  background-color: var(--black);
  height: 3px;
  position: absolute;
  left: 0;
  margin-top: .01em;
  -webkit-transition: .15s ease-in-out all;
  transition: .15s ease-in-out all;
}

body .primary-link:hover {
  color: var(--font_color);
  -webkit-text-decoration-color: var(--green);
          text-decoration-color: var(--green);
}

body .primary-link:hover:after {
  background-color: var(--green);
  height: 6px;
}

body .primary-link:active {
  color: var(--font_color);
  -webkit-text-decoration-color: var(--green);
          text-decoration-color: var(--green);
}

body .primary-link:active:after {
  background-color: var(--green);
  height: 6px;
}

body .primary-link:focus {
  color: var(--font_color);
  -webkit-text-decoration-color: var(--green);
          text-decoration-color: var(--green);
  outline: 2px solid var(--green);
  outline-offset: 5px;
}

body .primary-link:focus:after {
  height: 0px;
}

body .button {
  display: inline-block;
  background-color: var(--green);
  color: var(--font_color__button);
  font-family: var(--raleway);
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: .75em 1em;
  margin-right: auto;
  -webkit-transition: .25s ease-in-out all;
  transition: .25s ease-in-out all;
  -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  body .button {
    font-size: 1.125rem;
  }
}

body .button:hover, body .button:active {
  background-color: var(--green__dark);
  -webkit-transform: scale(1.1) rotateZ(3deg);
          transform: scale(1.1) rotateZ(3deg);
}

body .button:focus {
  background-color: var(--green__dark);
  outline: 2px solid var(--green);
  outline-offset: 5px;
}

body .visually-hidden {
  display: none;
}

::-moz-selection {
  background: var(--green__highlight);
  color: var(--white);
}

::selection {
  background: var(--green__highlight);
  color: var(--white);
}

::-moz-selection {
  background: var(--green__highlight);
  color: var(--white);
}

body.darkmode header nav .logo-themeToggle-container .lightmode-logo {
  display: none;
}

body.darkmode header nav .logo-themeToggle-container .darkmode-logo {
  display: block;
}

body.darkmode header nav .logo-themeToggle-container .themeToggle {
  background-color: var(--gray__dark);
}

body.darkmode header nav .logo-themeToggle-container .themeSwitch {
  background-color: var(--black__dark);
}

body.darkmode .themeToggle .themeSwitch {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

body.darkmode .primary-link {
  color: var(--green);
}

body.darkmode .primary-link:after {
  background-color: var(--gray);
}

body.darkmode .primary-link:hover {
  color: var(--font_color);
}

body.darkmode .primary-link:hover:after {
  background-color: var(--green);
  height: 6px;
}

body.darkmode .primary-link:active {
  color: var(--font_color);
}

body.darkmode .primary-link:active:after {
  background-color: var(--green);
  height: 6px;
}

body.darkmode .primary-link:focus {
  color: var(--font_color);
}

body.darkmode footer {
  background-color: var(--black__dark);
}
/*# sourceMappingURL=global.css.map */