/**********
COLORS
#e6463a
#ea6258
#414a4f
#fff
#555
#545C60
**********/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

html, body {
	height: 100%;
}

/* Custom Highlight Color */
::selection {
  background: #ee7e76;
	color: #fff;
}

::-moz-selection {
  background: #ee7e76;
}
/* End Custom Highlight Color */

/* Custom Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #545C60;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6463a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:focus {
  background: #989D9F;
}

/* End Custom Scroll Bar */

ul, nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* Nav Animation */
.nav-links {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  transition:.3s ease-in-out;
	line-height: 1.5;
	border-top: solid 5px transparent;
	border-bottom: 10px solid transparent;
}

.nav-links:hover, .navlinks:focus {
	color: #fff;
	border-bottom: 5px solid #ea6258;
}
/* End Nav Animation */


a.btn, a.contact-btn {
	opacity: 1;
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #e6463a;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	text-align: center;
	letter-spacing: 1.5px;
	transition: all 0.3s ease;
}

/* Scroll Indicator */
/*
.scroll-indicator {
	position: absolute;
	left: 50%;
	font-size: 40px;

	-webkit-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}

@keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}
*/
/* End Scroll Indicator */



a.btn:hover, a.contact-btn:hover, a.work-btn:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.btn:hover, a.work-btn:hover {
	color: #e6463a;
	background-color: #fff;
}

.fill:before {
  content: "";
  position: absolute;
  background: #414a4f;
	border-radius: 3px;
  bottom: 0;
  left: 0;
  right: 0;
	top: 100%;
	z-index: -1;
  transition: top .1s ease-in;
}

.fill:hover {
	color: #fff;
}

.fill:hover:before {
	top: 0;
}

@media (min-width: 910px) {
	.contact, .portfolio, .about, .welcome, .work {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 100px 100px;
	}
}

@media (max-width: 910px) {
	.contact {
		display: flex;
		flex-direction: column;
	}

	.portfolio, .about, .welcome, .work {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-h2 {
		text-align: center;
	}
}

@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}

@media (max-width: 600px) {
	section {
		padding: 80px 30px;
	}
}

section p {
	max-width: 800px;
	margin-bottom: 15px;
	line-height: 2;
  letter-spacing: .5px;
}

ul.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*hr {
	border: 0;
  border-top: 3px solid #e6463a;
  width: 80%;
	opacity: .2;
	text-align: center;
	margin: 0 auto;
}*/

/*-------------
 	Header
-------------*/

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

#navbar {
	position: fixed; /* Make it stick/fixed */
  top: -100px;
	transition: top 0.3s;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 35px 100px 0;
}

#navbar li a {
	color: #fff;
	background-color: #414a4f;
}

.logo {
	max-width: 100px;
	height: 50px;
	box-sizing: content-box;
	opacity: 1;
	padding: 1em;
	transition: all 0.3s ease;
}

.logo:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

@media (min-width: 700px) {
	.logo {
		height: 55px;
		padding: .5em;
		border-top: solid 5px transparent
	}
}

.pheader, #navbar {
	color: #fff;
	background-color: #414a4f;
	padding: 20px 100px;
}

@media (min-width: 700px) {
	.pheader, #navbar {
		padding: 20px 100px;
		position: fixed;
	}
}

header nav, #navbar {
	display: flex;
}

header nav li, #navbar li {
	margin: 0 15px;
  font-size: 18px;
  letter-spacing: .5px;
}

header nav li:hover, #navbar li {
  color: #ea6258;
}

header nav li:first-child, #navbar li {
	margin-left: 0;
}

header nav li:last-child, #navbar li {
	margin-right: 0;
}

@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}

@media (max-width: 700px) {
	header {
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

/* Scroll Progress */

.progress-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 4px;
  background: #545C60;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 4px;
  background: #e6463a;
  width: 0%;
}

/* End Scroll Progress */

/*----------------
	Welcome Section
----------------*/

.background-image {
	max-width: 100%;
	height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 1100px) {
	.background-image {
		background-attachment: fixed; /* maybe fix so you do not have to put this in a media query later in order for parallax to also work on mobile */
	}
}

@media screen and (min-width: 700px) {
	.background-image {
		width: 60%;
	}
}

.welcome {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.welcome .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

.welcome .background-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.welcome h1 {
	font: bold 60px 'Lato', sans-serif;
	margin-bottom: 15px;
}

.welcome h3 {
	font: normal 28px 'Roboto', sans-serif;
	margin-bottom: 40px;
}

.welcome a.btn {
	padding: 20px 46px;
}

@media (max-width: 800px) {

	.welcome {
		min-height: 600px;
	}

	.welcome h1 {
		font-size: 48px;
	}

	.welcome h3 {
		font-size: 24px;
	}

	.welcome a.btn {
		padding: 15px 40px;
	}

}

/*----------
	About Me
-----------*/

.profile {
	border-radius: 50%;
	width: 250px;
	float: left;
	margin: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
	.profile {
    display: block;
    float: none;
		width: 175px;
		margin: 0 auto;
		margin-bottom: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 699px) {
	.profile {
		width: 150px;
	}
}

@media only screen and (min-width: 700px) and (max-width: 790px) {
	.profile {
		width: 200px;
	}
}

.about p {
  font-size: 18px;
  text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.about-h2 {
  color: #414a4f;
  font: bold 45px 'Lato', sans-serif;
  padding-bottom: 50px;
}

@media (min-width: 700px) {
	.about p {
		font-size: 20px;
	}
	.about-h2 {
		font-size: 55px;
	}
}

.links {
  color: #ea6258;
	opacity: .9;
	border-bottom: 2px solid;
	transition: all 0.3s ease 0s;
}

.links:hover, .links:focus {
	opacity: 1;
	border: none;
}

.about h3 {
  font: normal 24px 'Lato', sans-serif;
	text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
}

@media (min-width: 700px) {
	.about h3 {
		font-size: 30px;
	}
}

.contact-btn {
  color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #e6463a;
	font-family: 'Lato', sans-serif;
  letter-spacing: .5px;
	text-align: center;
}

a.contact-btn {
  padding: 15px 30px;
}

/*----------
	Work - remember to replace the portfolio section and css
-----------*/

.work-header {
	color: #414a4f;
	background-color: #fff;
	padding: 10px 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 700px) {
	.work-header {
		position: fixed;
	}
}

.work-nav-links {
	color: #414a4f;
}

.work-nav-links:hover, .work-nav-links:focus {
	color: #414a4f;
}

.work {
	margin-top: 75px;
	background-color: #414a4f;
}

.work-h1 {
	font: bold 50px 'Lato', sans-serif;
	color: #fff;
	padding-bottom: 50px;
	margin-top: 50px;
}

@media (min-width: 700px) {
	.work-h1 {
		font-size: 60px;
		margin-top: 0;
	}
}

.work-footer {
	background-color: #fff;
}

.work-git {
	color: #414a4f;
	opacity: .9;
	border-bottom: 2px solid;
	transition: all 0.3s ease 0s;
}

.work-git:hover, .work-git:focus {
	opacity: 1;
	border: none;
}

.work-copyright {
	color: #414a4f !important;
}

.work-footer a i {
	color: #414a4f;
}

.work-footer-text {
	color: #414a4f;
}

/*-----------------------
	Individual Work Pages
-----------------------*/

.gray-header {
	color: #fff;
	background-color: #414a4f;
	padding: 10px 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 700px) {
	.gray-header {
		position: fixed;
	}
}

@media (min-width: 910px) {
	.individual-work {
		display: flex;
		flex-direction: column;
		padding: 100px 100px;
	}
}

@media (max-width: 910px) {
	.individual-work {
		display: flex;
		flex-direction: column;
	}
}

.individual-work {
	margin-top: 75px;
	display: flex;
	align-items: center;
}

@media (max-width: 1175px) {
	.individual-flex {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
}

@media (min-width: 1360px) {
	.individual-flex {
		display: flex;
		justify-content: space-between;
	}

	.individual-left {
		width: 25%;
	}

	.individual-right {
		width: 70%;
	}
}

@media (min-width: 1175px) and (max-width: 1360px) {
	.individual-flex {
		display: flex;
		justify-content: space-between;
	}

	.individual-left {
		display: inline-block;
		width: 30%;
	}

	.individual-right {
		display: inline-block;
		width: 65%;
	}
}

@media (min-width: 1050px) and (max-width: 1174px) {
	.individual-flex {
		display: flex;
		justify-content: space-between;
	}

	.individual-left {
		display: inline-block;
		width: 35%;
	}

	.individual-right {
		display: inline-block;
		width: 60%;
	}
}

@media (min-width: 950px) and (max-width: 1049px) {
	.individual-flex {
		display: flex;
		justify-content: space-between;
	}

	.individual-left {
		display: inline-block;
		width: 40%;
	}

	.individual-right {
		display: inline-block;
		width: 55%;
	}
}

.individual-work-h2 {
	color: #414a4f;
	font: bold 40px 'Lato', sans-serif;
	padding-bottom: 50px;
}

@media (max-width: 699px) {
	.individual-work-h2 {
		padding-top: 40px;
	}
}

@media (min-width: 720px) {
	.individual-work-h2 {
	  font-size: 50px;
	}
}

.individual-work-image {
	overflow: hidden;
	border-radius: 12px;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 2.5em;
}

.individual-work-image:hover, .individual-work-image:focus {
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.individual-work-image img {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 12px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.individual-work-image:hover img, .individual-work-image:focus img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.view-project {
	margin-bottom: 2.5em;
}

.view-project-btn {
	color: #fff;
	border-radius: 3px;
	padding: 10px 15px;
	background-color: #e6463a;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all .2s ease;
}

.view-project-btn:hover, .view-project-btn:focus {
	background-color: #414a4f;
}

.individual-right h3 {
	margin-top: 2em;
	margin-bottom: 1em;
}

.skills {
	margin-bottom: 10px;
}

.tag-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  margin-bottom: 2.5em;
	max-width: 310px;
}

.tag {
	color: #fff;
	max-width: 100%;
	background-color: #414a4f;
	text-transform: uppercase;
	padding: .5em .75em;
	font-size: .8em;
	text-decoration: none;
	border-radius: 3px;
	margin-right: .5em;
	margin-bottom: .5em;
}

.tag-red {
	background-color: #e6463a;
}

@media (min-width: 700px) {}
	.individual-right p {
		font-size: 18px;
	}

	.individual-right ul {
		padding: 0 35px;
	}
}

@media (min-width: 550px) and (max-width: 699px) {
	.individual-right ul {
		padding: 0 20px;
	}
}

.individual-right p {
	margin-bottom: 15px;
	line-height: 2;
	letter-spacing: .5px;
	font-size: 16px;
	font-weight: 300;
}

.individual-right ul {
	list-style-type: square;
	padding: 0 10px;
	max-width: 700px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: .5px;
}

.individual-right li {
	margin-bottom: 10px;
}

/*----------
	Portfolio
-----------*/

.portfolio {
  background-color: #414a4f;
  color: #fff;
	overflow: hidden;
}

.portfolio ul li h2 a:hover, .portfolio ul li h2 a:focus {
	color: #ea6258;
	opacity: 1;
	border-bottom: 2px solid;
	transition: all 0.3s ease 0s;
}

.portfolio2 {
  background-color: #fff;
  color: #414a4f;
	margin-top: 80px;
}

.portfolio h2 {
  font: bold 45px 'Lato', sans-serif;
	padding-bottom: 50px;
}

@media (min-width: 700px) {
	.portfolio h2 {
		font-size: 55px;
	}
}

.project-list {
	list-style-type: none;
}

/* Data Delighter */
.project-animation {
	opacity: 0;
	transition: .4s all ease-in-out;
	transform: translateX(100%);
}

.project-animation.started {
	opacity: 1;
	transform: none;
}

.project-animation2 {
	opacity: 0;
	transition: .4s all ease-in-out;
	transform: translateX(-100%);
}

.project-animation2.started {
	opacity: 1;
	transform: none;
}
/* End Data Delighter */

.project {
	background-color: #ffffff;
	padding: 1em 1.25em;
	margin-bottom: .75em;
	border-left: 5px #e6463a solid;
  flex-basis: 100%;
	border-radius: 3px;
}

.project h2 a {
	text-decoration: none;
	color: #414a4f;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.project p {
  font-size: 18px;
  color: #414a4f;
	margin-top: 10px;
}

.project a {
  color: #e6463a;
}

.portfolio-images {
	width: 60%;
	margin: 0 auto;
}

@media screen and (min-width: 750px) {
	.project-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.project {
		width: 49%;
	}
}

@media screen and (min-width: 900px) {
	.project {
		width: 24%;
	}

	.project-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

/*---------
	My Work Project Cards with overlay
----------*/

.main-work-container {
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

.work-container {
	position: relative;
	width: 300px;
	height: 200px;
	display: inline-block;
	margin: 12px;
}

.project-image {
	display: block;
	width: 300px;
	height: 200px;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
	position: absolute;
	transition: all .3s ease;
	opacity: 0;
	overflow: hidden;
}

.work-container:hover .overlay, .work-container:focus .overlay {
	opacity: 1;
}

.overlay-left {
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
	background-color: #ffffff;
	border-radius: 12px;
}

.work-container:hover .overlay-left, .work-container:focus .overlay-left {
	width: 100%;
	opacity: 1;

}

.overlay-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #555;
}

.overlay-p {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.overlay-button {
	letter-spacing: 1px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	width: 160px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	padding: 10px 15px;
	border-radius: 3px;
	background-color: #e6463a;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
}

.overlay-button:hover, .overlay-button:focus {
	-webkit-animation: bounceIn .5s;
	animation: bounceIn .5s;
	background-color: #555;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


a.work-btn {
	padding: 15px 30px;
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #e6463a;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	text-align: center;
	letter-spacing: 1.5px;
	transition: all 0.3s ease;
	margin-top: 60px;
}

/*---------
	Contact
----------*/
.contact-h2 {
  font: bold 45px 'Lato', sans-serif;
  padding-bottom: 50px;
}

@media (min-width: 700px) {
	.contact-h2 {
		font-size: 55px;
	}
}

form {
  max-width: 800px;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

.form-animation {
	opacity: 0;
	transition: .5s all ease-in-out;
	transform: translateY(10%);
}

.form-animation.started {
	opacity: 1;
	transform: none;
}

.form-label {
  font-family: 'Lato', sans-serif;
  color: #414a4f;
  display: block;
  margin-bottom: 10px;
}

.form-text, .form-text-desc {
	margin-bottom: 30px;
	padding: 10px 16px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 100%;
	border: 3px solid #414a4f;
	border-radius: 3px;
	background-color: rgba(65, 74, 79, .05);
	outline: 0;
}

.form-text-desc {
  min-height: 150px;
}

.form-text:focus, .form-text-desc:focus {
	outline: 0;
	border: 3px solid #e6463a;
}

.submit-btn {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #e6463a;
  font-family: 'Lato', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
  color: #fff;
  padding: 15px 70px;
  text-align: center;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all 0.3s ease-in;
}

.submit-btn:focus {
  outline: 0;
}

.submit-btn:hover, .submit-btn:focus {
	background-color: #414a4f;
}

@media screen and (min-width: 700px) {

  .form-field-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-div {
    width: 45%;
  }

}

footer {
  margin: auto;
  background-color: #414a4f;
  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  text-align: center;
}

.white-footer {
	background-color: #ffffff;
}

.center-footer {
	padding: 3.5em;
}

.footer-text, .dark-footer-text {
	margin-bottom: 40px;
}

.footer-text {
  color: #fff;
}

.dark-footer-text {
	color: #414a4f;
}

.footer-icons, .dark-footer-icons {
	width: 40px;
	padding: 10px;
	transition: all 0.3s ease;
}

.footer-icons:hover, .footer-icons:focus, .dark-footer-icons:hover, .dark-footer-icons:focus {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

@media (min-width: 500px) {
	.footer-icons {
		width: 50px;
		padding: 10px;
	}
}

.git {
	color: #fff;
}

.gitd {
	color: #414a4f;
}

.git, .gitd {
	opacity: 1;
	border-bottom: 2px solid;
	transition: all 0.3s ease 0s;
}

.git:hover, .git:focus, .gitd:hover, .gitd:focus {
	border: none;
}

.p1, .p2 {
	font-weight: 300;
}

.p1 {
  margin-top: 30px;
	line-height: 25px;
}

@media (max-width: 416px) {
	.p1, .p2 {
		font-size: 15px;
	}
}

.p2 {
  margin-bottom: 30px;
  margin-top: 10px;
}
