/**********
COLORS
#e6463a
#ea6258
#414a4f
#fff
#555
**********/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

::selection {
  background: #ea6258;
}

::-moz-selection {
  background: #ea6258;
}

ul, nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* Nav Animation */
.nav-links {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  transition:.3s ease;
	line-height: 1.5;
	border-bottom: 5px solid transparent;
}

.nav-links:hover, .navlinks:focus {
	color: #fff;
	border-bottom: 5px solid #ea6258;
}
/* End Nav Animation */


a.btn, a.contact-btn {
	opacity: 0.9;
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #e6463a;
	font-weight: 800;
	text-align: center;
	letter-spacing: 1.5px;
	transition: all 0.3s ease;
}

/* Scroll Indicator */
/*
.scroll-indicator {
	position: absolute;
	left: 50%;
	font-size: 40px;

	-webkit-animation: bounce 1s infinite;
	animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}

@keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}
*/
/* End Scroll Indicator */

a.contact-btn {
	opacity: 1;
}

a.btn:hover, a.contact-btn:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.fill:before {
  content: "";
  position: absolute;
  background: #414a4f;
	border-radius: 3px;
  bottom: 0;
  left: 0;
  right: 0;
	top: 100%;
	z-index: -1;
  transition: top .1s ease-in;
}

.fill:hover {
	color: #fff;
}

.fill:hover:before {
	top: 0;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 100px;
}

@media (max-width: 1000px) {

	section {
		padding: 100px 50px;
	}

}

@media (max-width: 600px) {

	section {
		padding: 80px 30px;
	}

}

section h3.title {
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p {
	max-width: 800px;
	margin-bottom: 35px;
	padding: 0 15px;
	line-height: 2;
  letter-spacing: .5px;
}

@media (min-width: 700px) {
	section p {
		padding: 0 20px;
	}
}

ul.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	border: 0;
  border-top: 3px solid #e6463a;
  width: 80%;
	opacity: .2;
	text-align: center;
	margin: 0 auto;
}

/*-------------
 	Header
-------------*/

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

.logo {
	max-width: 100px;
	height: 50px;
	box-sizing: content-box;
	opacity: 1;
	padding: 1em;
	transition: all 0.3s ease;
}

.logo:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

@media (min-width: 700px) {
	.logo {
		height: 55px;
		padding: .5em;
	}
}

.pheader {
	color: #fff;
	background-color: #414a4f;
	margin-bottom: 200px;
	padding: 20px 100px;
}

@media (min-width: 700px) {
	.pheader {
		padding: 35px 100px;
	}
}

header nav {
	display: flex;
}

header nav li {
	margin: 0 15px;
  font-size: 18px;
  letter-spacing: .5px;
}

header nav li:hover {
  color: #ea6258;
}

header nav li:first-child {
	margin-left: 0;
}

header nav li:last-child {
	margin-right: 0;
}

@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}

@media (max-width: 700px) {
	header {
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

/*----------------
	Welcome Section
----------------*/

.background-image {
  background-position: center;
}

.welcome {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.welcome .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.welcome .background-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.welcome h1 {
	font: bold 60px 'Roboto', sans-serif;
	margin-bottom: 15px;
}

.welcome h3 {
	font: normal 28px 'Roboto', sans-serif;
	margin-bottom: 40px;
}

.welcome a.btn {
	padding: 20px 46px;
}

@media (max-width: 800px) {

	.welcome {
		min-height: 600px;
	}

	.welcome h1 {
		font-size: 48px;
	}

	.welcome h3 {
		font-size: 24px;
	}

	.welcome a.btn {
		padding: 15px 40px;
	}

}

/*----------
	About Me
-----------*/

.about p {
  font-size: 18px;
  text-align: left;
}

.about-h2 {
  color: #414a4f;
  font: bold 45px 'Roboto', sans-serif;
  padding-bottom: 50px;
}

@media (min-width: 700px) {
	.about p {
		font-size: 20px;
	}
	.about-h2 {
		font-size: 55px;
	}
}

.links {
  color: #ea6258;
	opacity: .9;
	border-bottom: 2px solid;
	transition: all 0.3s ease 0s;
}

.links:hover {
	opacity: 1;
	border: none;
}

.about h3 {
  font: normal 28px 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 20px;
}

.contact-btn {
  color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #e6463a;
	font-weight: 800;
  letter-spacing: .5px;
	text-align: center;
}

a.contact-btn {
  padding: 15px 30px;
}


/*----------
	Portfolio
-----------*/

.portfolio {
  background-color: #414a4f;
  color: #fff;
	overflow: hidden;
}

.portfolio2 {
  background-color: #fff;
  color: #414a4f;
	margin-top: 80px;
}

.portfolio-h2 {
  font: bold 45px 'Roboto', sans-serif;
	padding-bottom: 50px;
}

.portfolio-h2-p {
	font: bold 45px 'Roboto', sans-serif;
	padding-bottom: 50px;
	padding-top: 45px;
}

@media (min-width: 700px) {
	.portfolio-h2, .portfolio-h2-p {
		font-size: 55px;
		padding-bottom: 75px;
	}
}

.portfolio-h3 {
	font: bold 22px 'Roboto', sans-serif;
	border-bottom: 5px solid #e6463a;
	margin-bottom: 40px;
}

@media (min-width: 700px) {
	.portfolio-h3 {
		font-size: 30px;
	}
}

.portfolio p, .portfolio2 p, .portfolio3 p {
  font-size: 18px;
  text-align: left;
}

@media (min-width: 700px) {
	.portfolio p, .portfolio2 p, .portfolio3 p {
		font-size: 20px;
	}

	.portfolio3-p3 {
		margin-top: 20px;
	}
}

/*
.p2portfolio {
	text-align: center;
}
*/

.portfolio ul, .portfolio2 ul, .portfolio3 ul {
  max-width: 700px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: .5px;
}

.portfolio li, .portfolio2 li, .portfolio3 li {
  margin-bottom: 1.5em;
	font-size: 18px;
}

.portfolio2 ul, .portfolio3 ul {
	list-style-type: square;
	padding: 0 35px;
}

.project-list {
	list-style-type: none;
}

/* Data Delighter */
.project-animation {
	opacity: 0;
	transition: .4s all ease-in-out;
	transform: translateX(100%);
}

.project-animation.started {
	opacity: 1;
	transform: none;
}

.project-animation2 {
	opacity: 0;
	transition: .4s all ease-in-out;
	transform: translateX(-100%);
}

.project-animation2.started {
	opacity: 1;
	transform: none;
}
/* End Data Delighter */

.project {
	background-color: #ffffff;
	padding: 1em 1.25em;
	margin-bottom: .75em;
	border-left: 5px #e6463a solid;
  flex-basis: 100%;
	border-radius: 3px;
}

.project h2 a {
	text-decoration: none;
	color: #414a4f;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.project p {
  font-size: 18px;
  color: #414a4f;
	margin-top: 10px;
}

.project a {
  color: #e6463a;
}

.portfolio-images {
	width: 60%;
	margin: 0 auto;
}

@media screen and (min-width: 750px) {
	.project-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.project {
		width: 49%;
	}
}

@media screen and (min-width: 900px) {
	.project {
		width: 24%;
	}

	.project-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

/*---------
	Contact
----------*/
.contact-h2 {
  font: bold 45px 'Roboto', sans-serif;
  padding-bottom: 50px;
}

@media (min-width: 700px) {
	.contact-h2 {
		font-size: 50px;
	}
}

form {
  max-width: 800px;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

.form-animation {
	opacity: 0;
	transition: .3s all ease-in-out;
	transform: translateY(10%);
}

.form-animation.started {
	opacity: 1;
	transform: none;
}

.form-label {
  font-family: 'Roboto', sans-serif;
  color: #414a4f;
  display: block;
  margin-bottom: 10px;
}

.form-text {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 30px;
  width: 100%;
  border: 3px solid #414a4f;
  border-radius: 3px;
}

.form-text-desc {
  margin-bottom: 30px;
  width: 100%;
  font-size: 16px;
  min-height: 150px;
  padding: 10px 20px;
  border: 3px solid #414a4f;
  border-radius: 3px;
}

.form-text:focus, .form-text-desc:focus {
  outline: 0;
	border: 3px solid #e6463a;
}

.submit-btn {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #e6463a;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 15px 70px;
  text-align: center;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all 0.3s ease-in;
}

.submit-btn:focus {
  outline: 0;
}

.submit-btn:hover {
	background-color: #414a4f;
}

@media screen and (min-width: 700px) {

  .form-field-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-div {
    width: 45%;
  }

}

footer {
  margin: auto;
  background-color: #414a4f;
  width: 100%;
  height: 400px;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  text-align: center;
}

.center-footer {
	padding: 3.5em;
}

.fa {
  color: #fff;
  padding: 10px;
	opacity: .9;
	transition: all 0.3s ease;
}

.fa:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.footer-text {
  color: #fff;
}

.git {
	color: #fff;
	opacity: .9;
	border-bottom: 2px solid;
	transition: all 0.3s ease 0s;
}

.git:hover {
	opacity: 1;
	border: none;
}

.p1 {
  margin-top: 30px;
}

.p2 {
  margin-bottom: 30px;
  margin-top: 10px;
}
